<!DOCTYPE html>
<html lang="ru">
<body>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Выйти"/>
    </form>

    <h2>Новый заказ</h2>
    <form method="post" action="/main">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div>
            <span>Ресторан</span> <input type="text" name="restaurantName"/> <br>
            <span>Адрес клиента</span> <input type="text" name="clientAddress"/> <br>
            <span>Телефон клиента</span> <input type="text" name="clientPhoneNumber"/> <br>
            <button type="submit">Создать</button>
        </div>
    </form>

    <h2>Список заказов</h2>
    <div>
        <span><button onclick="window.location.href='/main'">Все</button></span>
        <span><button onclick="window.location.href='/main?orderStatus=CANCELLED'">Отменены</button></span>
        <span><button onclick="window.location.href='/main?orderStatus=ACCEPTED'">Ожидают</button></span>
        <span><button onclick="window.location.href='/main?orderStatus=WORKING'">Назначены</button></span>
        <span><button onclick="window.location.href='/main?orderStatus=FINISHED'">Завершены</button></span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Ресторан</th>
                <th>Адрес клиента</th>
                <th>Телефон клиента</th>
            </tr>
        </thead>
        <tbody>
            {{#orders}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{orderStatus}}</td>
                    <td>{{restaurantName}}</td>
                    <td>{{clientAddress}}</td>
                    <td>{{clientPhoneNumber}}</td>
                </tr>
            {{/orders}}
        </tbody>
    </table>
</body>
<style type="text/css">
    .table {
        width: 50%;
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        border-collapse: collapse;
    }
    .table th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
    }
    .table td {
        border: 1px solid #dddddd;
        padding: 5px;
    }
</style>
</html>